.dashboard {
  display: flex;
  flex-direction: column;
  gap: clamp(24px, 3vw, 36px);
}

.dashboard__title {
  font-size: 42px;
}

.dashboard__trips {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.dashboard__finance {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .dashboard__title {
    font-size: 34px;
  }

  .dashboard__trips,
  .dashboard__finance {
    gap: 16px;
  }
}
