* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #071120;
  color: white;

  font-family: Inter, sans-serif;

  overflow-x: hidden;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}